{% extends 'nevbar.html' %}
{% block content %}
<div class="container mt-4">

    <h2 class="mb-1">Update Todo</h2>
    <p class="text-muted mb-4">Update a todo</p>

    <form method="post">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
         
            {% for field in form %}
            <div class="form-group">
                <label class="mb-1 fw-bold" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
         


        
        <button type="submit" class="btn btn-primary w-100 mt-3">Update Todo</button>
    </form>

</div>
{% endblock %}